.header-container {
    background-color: #ffffff;
    height: auto;
    padding: 10px 0px;
}

.header-icon-img {
    height: auto;
    width: auto;
    max-width: 12%;
    float: right;
}

.header-title {
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    color: #2f2f9e;
    margin-top: 8px;
}